# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET="Himanshu"

# MongoDB connection string for connecting to the database
MONGODB_URL="mongodb+srv://mauryahimanshu979:9QQj9887JkTvywvb@cluster0.pz64k14.mongodb.net/SmartStudyDB"

# Hostname of the mail server used for sending emails
MAIL_HOST=smtp.gmail.com

# Username of the email account used for sending emails
MAIL_USER= hey.29.himanshu@gmail.com

# Password of the email account used for sending emails
MAIL_PASS=cqpk cplz fsjd qszr